@font-face {
    font-family: GenRyuGothicMideum;
    src: url(./src/GenJyuuGothic-Medium.ttf);
}

@font-face {
    font-family: GenRyuGothic;
    src: url(./src/GenJyuuGothic-Normal.ttf);
}

.scroll::-webkit-scrollbar,
.scroll::-webkit-scrollbar-thumb {
    width: 3vw;
    border-radius: 13px;
    background-clip: padding-box;
}

.scroll::-webkit-scrollbar {
    background-color: #F7FAF5;
    border: 3px solid #B3B3B3;
}

.scroll::-webkit-scrollbar-thumb {
    border: 4px solid #fff493;
    background-color: #ffba24;
}

.scroll::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 30px;
}

.scroll::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 30px;
}

div.scroll {
    /* Adjust this to fit */
    width: 60%;
    padding-left: 5%;
    padding-right: 5%;
    overflow-y: scroll;
    font-family: GenRyuGothic, Arial, sans-serif;
}

div.scroll>* {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
    color: #555555;
}

.scroll .name {
    font-family: GenRyuGothicMideum, Arial, sans-serif;
    font-size: 3vw;
    color: #000000;
}

.motto {
    margin: 30pt auto 30pt 0;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    box-shadow: 3px 3px 2px rgba(53, 46, 43, 0.25), -3px 3px 2px rgba(53, 46, 43, 0.25), 0px -2px 2px rgba(53, 46, 43, 0.25);
    padding: 0 10px;
}

.motto-text {
    font-size: 1.8vw;
}

.progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;
    font-size: 2vw;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.progress>span {
    margin: auto 2.5%;
    height: fit-content;
    width: fit-content;
    line-height: 2.4vw;
}

.progressbar {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 13px;
    height: 100%;
    width: 60%;
}

.progressbar>div {
    width: 40%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
}

.back-yellow {
    background-color: #ffa358;
}

.back-grey {
    background-color: #CCCCCC;
}

.characteristic .title {
    line-height: 5vw;
    font-size: 2vw;
    color: #555555;
    margin-top: 2.5vw;
}

div .characteristic {
    line-height: 3.5vw;
    text-align: left;
    font-size: 1.8vw;
    color: #F7D089;
}

.words {
    position: relative;
    top: 20pt;
    line-height: 2.5vw;
    font-size: 1.8vw;
    background-color: rgba(0, 0, 0, 0);
    border: #F7D089 2px solid;
    border-radius: 70px;
    box-shadow: 5px 5px 5px rgba(120, 120, 120, 0.15), -5px -5px 5px rgba(120, 120, 120, 0.15), inset 5px 5px 5px rgba(120, 120, 120, 0.15), inset -5px -5px 5px rgba(120, 120, 120, 0.15);
    padding: 50px 50px;
    margin-bottom: 150px;
}

.words p {
    text-align: left;
}