body {
    margin: 0;
    padding: 0;
    border: 0;
}

.team_member {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

@font-face {
    font-family: Medium;
    src: url(./src/Medium.ttf);
}

p {
    font-family: Gentium;
}

#member h3 {
    font-family: Medium;
    margin:10%;
}

#menu{
    background-color: #F5F3E6;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
}

#menu .top, .bottom{
    display: flex;
    justify-content: space-around;
}

#menu .top{
    padding: 0 10% 0;
}

#menu .person{
    width: 11%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.jhuang, .jhou, .jiang, .syu, .jheng, .he, .liu{
    background-color: #F5F3E6;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    padding: 5% 5%;
}

.back_button{
    width: 5%;
    height: auto;
    margin-top: 3%;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0 5% 0;
    width: 30%;
    height: 100%;
}

.text_personality{
    width: 85%;
    height: auto;
}

.pic_personality{
    width: 95%;;
    height: auto;
}

.back_button img, .text_personality img, .pic_personality img{
    max-height: 100%;  
    max-width: 100%;
}
